doc/html
src/wasteland/.libs
src/wasteland/.deps
src/wasteland/Makefile
src/wasteland/Makefile.in
src/wasteland/*.o
src/wasteland/*.lo
src/wasteland/*.la
src/test/.libs
src/test/.deps
src/test/Makefile
src/test/Makefile.in
src/test/*.o
src/test/*.lo
src/test/*.la
src/test/test_libwasteland
src/tools/.libs
src/tools/.deps
src/tools/Makefile
src/tools/Makefile.in
src/tools/*.o
src/tools/*.lo
src/tools/*.la
src/tools/decodepic
src/tools/encodepic
src/tools/unpacksprites
src/tools/packsprites
src/tools/unpackfont
src/tools/packfont
src/Makefile
src/Makefile.in
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
autom4te.cache
.cproject
.project
*.tar.gz
