doc
src/.libs
src/.deps
src/Makefile
src/Makefile.in
src/*.o
src/*.lo
src/*.la
src/test
test/.libs
test/.deps
test/Makefile
test/Makefile.in
test/*.o
test/*.lo
test/*.la
test/test_libwasteland
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
autom4te.cache
.cproject
.project
